<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
<h1>Welcome Student Enrollment and Management System of GFGC Sorab</h1>
<button id="enr" class="btn">Student Enrollment Form </button>
<button id="std" class="btn">Go to Student Information</button>
<script src="/JS/home.js"></script>
    
</body>
</html>